body {
    padding: 0;
    margin: 0;
    background-color: black;
}

html::-webkit-scrollbar {
    display: none;
  }

.scrollSnapSection {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}